.weather-list {
  list-style: none;
  color: black;
  border: 2px solid black;
}

.app {
  padding: 30px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  background-color: cadetblue;
  justify-content: center;
}

.welcome {
  font-size: 20px;
  padding: 5px;
  color: rgb(194, 55, 76);
}

.input {
  width: 50%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  text-decoration-line: underline;
}

.form {
  grid-area: "form";
  display: flex;
  align-items: center;
}

input {
  margin: 10px 10px;
  box-sizing: border-box;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  height: 2.25em;
}

.form-weather {
  padding: 10px;
  border-left: 2px solid black;
  height: 70vh;
}

li {
  margin: 10px 0;
}
